{# templates/emails/email-confirmation.html.twig #}
{% extends "emails/base-template.html.twig" %}
{% set url =  url  %}
{% set name =  email.toName  %}
{% block body_content %}
  <tr>
    <td bgcolor="#ffffff" style="padding: 0px 30px 0px 30px;">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
        <tr>
          <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; padding: 20px 0 30px 0;">
            <p style="margin: 0;font-size:15px;">Please confirm if you want to use this email for your account. If you have verified, you can start using platform!</p>
          </td>
        </tr>
        <tr>
          <td>
          <a target="_blank" style="color:white; text-decoration:none" href="{{ url('default_confirm_token', {'token': user.getConfirmationToken()}) }}" style="color: #83cdec;" title="Verifikasi Email Saya">
            <button style="background-color: #F2767E; /* Green */ padding: 20px; border:none;text-align: center;font-size: 22px;margin: 4px 2px;font-weight:700;cursor: pointer;width:100%;border-radius: 50px 50px 50px 50px;" ><span style="color:white; font-weight:700">Verify your email</span></button>
          </a>
          </td>
        </tr>
          <tr style="margin-top:20px"></tr>
      </table>
    </td>
  </tr>
  <tr>
    <td  style="padding: 50px 30px; ">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
        <tr>
          <td style="color: #000000; font-family: Arial, sans-serif; font-size: 14px;">
            <p style="margin: 0;">or copy and paste the link below into your browser<br/>
              <a href="{{ url('default_confirm_token', {'token': user.getConfirmationToken()}) }}" style="color: #F2767E;">{{ url('default_confirm_token', {'token': user.getConfirmationToken()}) }}</a></p>
          </td>
          <td align="right">

          </td>
        </tr>
      </table>
    </td>
  </tr>
{% endblock body_content %}
