{# templates/emails/signup.html.twig #}
<h1>Welcome {{ email.toName }}!</h1>

<p>
    You signed up as {{ user.username }} the following email:
</p>
<p><code>{{ email.to[0].address }}</code></p>

<p>
    <a href="{{ url('default_confirm_token', {'token': user.getConfirmationToken()}) }}">Click here to activate your account</a>
    (this link is valid until {{ expiration_date|date('F jS') }})
</p>
