{# templates/emails/test.html.twig #}
{% extends "emails/base-template.html.twig" %}
{% set name =  email.toName  %}

{% block body_content %}
<tr>
    <td bgcolor="#ffffff" style="padding: 0px 30px 0px 30px;">
    <h1>Test mail !! </h1>

    <p>
       Congratulations, the mail is working :)
    </p>
    </td>
</tr>
{% endblock body_content %}
